.item {
    width : 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

}

.item > div {
    display: flex;
    flex-direction: column;
}

button {
    width: 100px;
    height: 30px;
    background-color: var(--color);
    color: white;
    border: none;
    font-weight: bold;
    font-size: large;
    opacity: 0.7;
    transition: 0.3s;
    cursor: pointer;
}

button:hover {opacity: 1}

input {
    cursor: pointer;
}

label {
    font-weight: bold;
    font-size: large;
}

.tabs {
    width: 100%;
    margin-left: 0;
    display: flex;
    align-items: flex-start;
    background-color: #f5f5f5;

    border-bottom: 1px solid #ccc;
}

.buttonTab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    color: black;
    float: left;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.buttonTab:hover {
    background-color: #ddd;
}

#activeTabLink{
    background-color: #ffffff;
}

#activeTab {
    display: flex;
    flex-direction: row;
    height: 80%;
    align-items: center;
    justify-content: center;
}

.tabContent {
    display: none;
}