.cell {
    background-color: white;
    aspect-ratio: 1 / 1;
}

.cell:hover {
    background-color: var(--color);
    opacity: 0.7;
}

.colored {
    background-color: var(--color);
}

.hovered {
    background-color: var(--color);
    opacity: 0.7;
}