#grid {
    display: grid;
    grid-template-columns: repeat(var(--columns-number), 1fr);
    grid-template-rows: repeat(var(--lines-number), 1fr);
    gap: 0;
    border: 2px solid var(--color-with-transparency);
    grid-gap: 1px;
    background-color: var(--color-with-transparency);
}

#menu {
    display: flex;
    flex-direction: row;
    justify-items: auto;
    align-items: stretch;
    height : 20vh;
    width: 100%;
}

#menu > * {
    flex: 1 1 0;
}